# Author
Rohollah Gharehbaghi

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

  * R
  * Julia
  * python

## Some of the popular languages that Data Scientists use are:

1- julia
2- R
3- java script
4- python

## Some of the commonly used libraries used by Data Scientists include:

1- Keras.
2- Pandas.
3- PyTorch.
4- SciPy.

 Data Science Tools:

 RStudio.
 
 Apache Spark.
 
 TensorFlow.

## Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335